<h2>Why is {{bioData.name}}, {{bioData.country}} one of my favorite places?</h2>

<center><img class="img-place" src="/images/{{bioData.avatar}}" alt="bio image"></center>

<h3>Here's why... <!--{{bioData.name}}--></h3>

<p>{{bioData.bio}}</p>